@import 'results';
@import 'results_not_found';
@import 'pagination';

.search-page {
    flex-grow: 1;
    background-color: #FAFAFA;
    justify-content: start;
    padding: 2rem 0px;

    .search-head {
        width: 100%;
        box-sizing: content-box;
        padding: 1rem 0px;
        border-width: 0px 0px 1px;
        margin-bottom: 2rem;

        .search-header {
            margin: 0px;
            font-size: xx-large;
        }

        .search-offer-count {
            font-size: medium;
            color: #B0B0B0;
        }
    }

    .search-body {
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        width: clamp(300px, 80vw, 650px);

        .search-sorting-text {
            font-weight: 600;
            margin-right: 1rem;
        }

        .search-sorting-selection {
            cursor: pointer;
            padding: 4px;
            border-radius: 5px;
        }
    }
}
