.search-results-container {
    padding: 0px;
    margin: 0px;
    list-style: none;
    background-color: white;
    width: 100%;

    .search-result {
        display: flex;
        border-width: 0px 1px 1px;
        transition: 0.2s;

        &:hover {
            box-shadow: 3px 3px 6px 3px rgb(0, 0, 0, 0.1);
        }

        &:first-child {
            border-width: 1px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &:last-child {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .search-result-product {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            width: 100%;
            padding: 0.5rem;
            box-sizing: border-box;
            color: black;

            .search-result-product-price {
                font-weight: 600;
            }

            .search-result-product-name {
                display: flex;
                flex-grow: 1;
                height: 100%;
                font-weight: 600;
                word-break: break-all;
            }
        }
    }
}
