.primary-button {
  cursor: pointer;
  color: white;
  background-color: rgb(47, 130, 251);
  border: 0px;
  border-radius: 5px;
  transition: 0.3s;
  font-size: medium;
  font-weight: 600;
}
.primary-button:hover {
  background-color: rgb(40, 120, 240);
}

.primary-border {
  border: 1px solid;
  border-color: #E0E0E0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes scaling {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shortening {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.navigation-searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(300px, 57%, 600px);
  height: 45px;
  position: relative;
  border-radius: 5px;
}
.navigation-searchbar:focus-within::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline: 3px solid rgb(105, 165, 255);
  outline-offset: -1px;
  border-radius: 5px;
  pointer-events: none;
}
.navigation-searchbar .navigation-searchbar-categories {
  cursor: pointer;
  display: flex;
  height: 100%;
  border-color: gray;
  color: #707070;
  outline: 0;
  border-right: 0px;
}
.navigation-searchbar .navigation-searchbar-suggestions {
  position: absolute;
  width: 100%;
  z-index: 50;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  padding: 1rem;
  top: calc(100% + 4px);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-no-products-found {
  width: 100%;
  font-weight: 600;
  text-align: center;
  font-size: large;
  padding: 0.5rem 0px;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-loader-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-header {
  margin: 0px;
  padding: 0px 0.5rem;
  margin-bottom: 1rem;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list .navigation-searchbar-suggestions-product {
  display: flex;
  flex-wrap: wrap;
  color: black;
  font-weight: 600;
  gap: 4px;
  padding: 0.5rem;
  border-radius: 5px;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list .navigation-searchbar-suggestions-product:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list .navigation-searchbar-suggestions-product .navigation-searchbar-suggestions-product-name {
  display: flex;
  word-break: break-all;
  width: 430px;
  gap: 8px;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list .navigation-searchbar-suggestions-product .navigation-searchbar-suggestions-product-name .navigation-searchbar-suggestions-product-image {
  width: 75px;
  height: 75px;
  min-width: 75px;
  min-height: 75px;
}
.navigation-searchbar .navigation-searchbar-suggestions .navigation-searchbar-suggestions-list .navigation-searchbar-suggestions-product .navigation-searchbar-suggestions-product-price {
  display: flex;
  flex-grow: 1;
  width: 115px;
  justify-content: right;
  align-items: center;
}
.navigation-searchbar .navigation-searchbar-input-label {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.navigation-searchbar .navigation-searchbar-input-label .navigation-searchbar-input {
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 0px 2rem 0px 4px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-right: 0px;
  outline: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.navigation-searchbar .navigation-searchbar-reset-button-label {
  cursor: pointer;
  display: flex;
  position: absolute;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.3s;
  right: 5px;
}
.navigation-searchbar .navigation-searchbar-reset-button-label:hover {
  filter: brightness(0.9);
}
.navigation-searchbar .navigation-searchbar-reset-button-label .navigation-searchbar-reset-button-input {
  border: 0px;
  background-color: transparent;
  padding: 0px;
}
.navigation-searchbar .navigation-searchbar-submit {
  background-image: url("../assets/images/icons/search_icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 100%;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

@media only screen and (max-width: 710px) {
  .navigation-searchbar {
    margin: auto;
    width: clamp(300px, 80%, 600px);
    order: 1;
  }
  .navigation-searchbar .navigation-searchbar-categories {
    display: none;
  }
}
.navigation-account-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  gap: 4px;
  padding: 0px;
  border: 0px;
  max-width: 135px;
}
.navigation-account-button .navigation-account-text {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.navigation-account-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: 44px;
  right: 50%;
  transform: translateX(50%);
  width: 220px;
  padding: 10px 0px;
  gap: 10px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
  z-index: 50;
}
.navigation-account-dropdown::after {
  content: "";
  position: absolute;
  bottom: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #E0E0E0 transparent;
}
.navigation-account-dropdown .navigation-account-dropdown-header {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0px;
}
.navigation-account-dropdown .navigation-account-dropdown-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00A3FF;
  color: white;
  width: 180px;
  height: 34px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  border: 0px;
  position: relative;
  transition: 0.25s;
}
.navigation-account-dropdown .navigation-account-dropdown-button:hover {
  background-color: #009AF0;
}
.navigation-account-dropdown .navigation-account-dropdown-button .navigation-account-dropdown-google-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 1px;
  top: 1px;
}
.navigation-account-dropdown .navigation-account-dropdown-footer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
}

.navigation {
  padding: 8px 0px;
  border-width: 0px 0px 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  gap: 0.5rem;
}
.navigation .navigation-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.navigation .navigation-buttons-container .navigation-currency-changer {
  cursor: pointer;
  border-radius: 5px;
  padding: 4px;
}
.navigation .navigation-buttons-container .navigation-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
  transition: 0.3s;
  background-color: #EAEAEA;
}
.navigation .navigation-buttons-container .navigation-icon-container:hover {
  background-color: #E0E0E0;
}
.navigation .navigation-buttons-container .navigation-icon-container .navigation-icon {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 710px) {
  .navigation {
    justify-content: space-between;
    padding: 8px 0.75rem;
  }
}
.footer-newsletter {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px;
  box-sizing: border-box;
}
.footer-newsletter .footer-newsletter-header {
  font-size: medium;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 10px;
  text-align: center;
  text-wrap: balance;
}
.footer-newsletter .footer-newsletter-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-input {
  border-radius: 5px;
  font-size: medium;
  box-sizing: border-box;
  height: 40px;
  width: 60%;
  max-width: 230px;
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-input::placeholder {
  color: #B0B0B0;
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-input:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-input-error {
  border-color: #FF5050;
  color: #FF5050;
  background-color: rgb(255, 248, 248);
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-input-error:focus {
  border-color: #FF5050;
  outline: 2px solid #FF5050;
}
.footer-newsletter .footer-newsletter-form .footer-newsletter-form-submit {
  font-size: medium;
  width: 100px;
  height: 40px;
}

.footer-payment-methods {
  text-align: center;
  padding: 10px 0px;
}
.footer-payment-methods .footer-payment-methods-header {
  margin: 0px;
  margin-bottom: 10px;
  font-size: medium;
}
.footer-payment-methods .footer-payment-methods-body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(2px, 1vw, 10px);
}
.footer-payment-methods .footer-payment-methods-body .footer-payment-methods-body-text {
  font-size: 14px;
  color: #E0E0E0;
}

@media only screen and (min-width: 360px) {
  .footer-payment-methods .footer-payment-methods-body {
    gap: clamp(2px, 1.5vw, 10px);
  }
}
.footer-about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 8px;
  box-sizing: border-box;
  align-items: end;
}
.footer-about a {
  display: flex;
  color: white;
  width: fit-content;
}
.footer-about a:visited {
  color: white;
}
.footer-about a:hover {
  color: #EAEAEA;
}
.footer-about .footer-about-information {
  display: flex;
  flex-direction: column;
  font-size: small;
}
.footer-about .footer-about-socials {
  display: flex;
  gap: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5px 0px;
  background-color: black;
  color: white;
}

.home-page {
  padding: 2rem 0px 5rem;
  gap: 5rem;
  background-color: #FAFAFA;
}
.home-page .home-display-cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.home-page .home-display-cards-container .home-display-cards-container-header {
  width: 100%;
}
.home-page .home-display-cards-container .home-display-cards-container-header .home-display-cards-container-header-title {
  margin: 0px;
}
.home-page .home-display-cards-container .home-display-cards-container-header .home-display-cards-container-header-note {
  color: #B0B0B0;
}
.home-page .home-display-cards-container .home-display-cards-container-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card {
  display: flex;
  width: 95vw;
  max-width: 350px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.3s;
  background-color: white;
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card:hover {
  transform: translateY(-5px);
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.2);
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card .display-card-cover {
  height: 100%;
  width: 150px;
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card .display-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  overflow: hidden;
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card .display-card-description .display-card-name {
  font-weight: 600;
  word-wrap: break-word;
  color: black;
}
.home-page .home-display-cards-container .home-display-cards-container-body .display-card .display-card-description .display-card-price {
  font-weight: 600;
  color: black;
}

@media only screen and (min-width: 750px) {
  .home-page .home-display-cards-container .home-display-cards-container-body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 1100px) {
  .home-page .home-display-cards-container .home-display-cards-container-body {
    grid-template-columns: repeat(3, 1fr);
  }
}
.success-alert {
  background-color: rgb(65, 216, 136);
}

.error-alert {
  background-color: rgb(250, 75, 75);
}

.alert {
  position: fixed;
  display: flex;
  gap: 8px;
  z-index: 999;
  bottom: 0px;
  right: 0px;
  border-radius: 5px;
  padding: 1.5rem 1rem 3rem;
  overflow: hidden;
}
.alert .alert-info {
  width: clamp(240px, 70vw, 350px);
}
.alert .alert-info .alert-info-header {
  margin: 0px;
  color: white;
}
.alert .alert-info .alert-info-body {
  margin: 0px;
  color: white;
  text-wrap: wrap;
}
.alert .alert-close-button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  border-radius: 5px;
  transition: 0.3s;
}
.alert .alert-close-button:hover {
  background-color: rgba(80, 80, 80, 0.2);
}
.alert .alert-disappearance-timer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  height: 12px;
  width: 100%;
  animation: shortening 5s ease-out forwards 0s 1;
}

.auth-form-page {
  background-color: #FAFAFA;
  flex-grow: 1;
}
.auth-form-page .auth-form-container {
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  padding: 2.5rem 0px;
  background-color: white;
}
.auth-form-page .auth-form-container .auth-form-header {
  margin: 0px;
  text-align: center;
  margin-bottom: 2rem;
}
.auth-form-page .auth-form-container .auth-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  width: 90%;
  max-width: 350px;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input {
  border-radius: 5px;
  font-size: medium;
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-top: 8px;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input-error {
  border-color: #FF5050;
  color: #FF5050;
  background-color: rgba(255, 240, 240, 0.1);
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input-error:focus {
  border-color: #FF5050;
  outline: 2px solid #FF5050;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-error-message {
  color: #FF5050;
  font-size: small;
  height: 20px;
  margin-top: 4px;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input-show-button {
  cursor: pointer;
  display: flex;
  position: absolute;
  padding: 0px;
  right: 5px;
  bottom: 31px;
  border: 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: transparent;
  transition: 0.3s;
}
.auth-form-page .auth-form-container .auth-form .auth-form-label .auth-form-input-show-button:hover {
  background-color: #EAEAEA;
}
.auth-form-page .auth-form-container .auth-form .auth-form-submit {
  width: 90%;
  max-width: 350px;
  height: 40px;
  margin-top: 1rem;
}
.auth-form-page .auth-form-container .auth-form .auth-form-checkbox-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.auth-form-page .auth-form-container .auth-form .auth-form-checkbox-label .auth-form-checkbox {
  border-radius: 5px;
  width: 20px;
  height: 20px;
  accent-color: rgb(47, 130, 251);
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.cart-container .cart-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
}
.cart-container .cart-information .cart-information-header {
  font-size: xx-large;
  margin: 0px;
}
.cart-container .cart-information .cart-information-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: clamp(310px, 85vw, 600px);
  gap: 1rem;
}
.cart-container .cart-information .cart-information-body .cart-entry {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  background-color: white;
  gap: 0.5rem;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-image {
  width: clamp(75px, 12vw, 100px);
  height: clamp(75px, 12vw, 100px);
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-product {
  width: 200px;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-product .cart-entry-product-name {
  color: black;
  font-weight: 600;
  word-break: break-all;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-left: 8px;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-side-remove-product-button {
  cursor: pointer;
  display: flex;
  border: 0px;
  height: fit-content;
  padding: 0px;
  background-color: transparent;
  padding: 4px;
  border-radius: 5px;
  transition: 0.3s;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-side-remove-product-button:hover {
  background-color: #E0E0E0;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  font-size: small;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  text-wrap: nowrap;
  z-index: 10;
  bottom: calc(100% + 5px);
  gap: 0.5rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
  animation: scaling 0.5s normal 0s 1;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-modal::after {
  content: " ";
  position: absolute;
  top: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: #E0E0E0 transparent transparent transparent;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-modal .cart-entry-modal-buttons-container {
  display: flex;
  gap: 4px;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-modal .cart-entry-modal-buttons-container .cart-entry-button {
  font-size: small;
  width: 45px;
  height: 25px;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-side-remove-product-container .cart-entry-modal .cart-entry-modal-text {
  font-weight: 600;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-quantity-input {
  font-weight: 600;
  padding: 0.75rem;
  width: 90px;
  border-radius: 5px;
  box-sizing: border-box;
}
.cart-container .cart-information .cart-information-body .cart-entry .cart-entry-side-information .cart-entry-price {
  font-weight: 600;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-grow: 1;
  min-width: 90px;
}
.cart-container .cart-checkout {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
}
.cart-container .cart-checkout .cart-products-cost {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.cart-container .cart-checkout .cart-payment-button {
  width: clamp(250px, 80vw, 300px);
  padding: 0.75rem 0px;
}

.empty-cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.empty-cart-container .empty-cart-header {
  font-size: large;
  text-wrap: wrap;
  text-align: center;
  font-weight: 500;
  margin: 0px;
}
.empty-cart-container .empty-cart-info {
  text-wrap: balance;
  text-align: center;
}
.empty-cart-container .empty-cart-browse-button {
  background-color: rgb(47, 130, 251);
  font-size: large;
  color: white;
  padding: 12px 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}
.empty-cart-container .empty-cart-browse-button:hover {
  background-color: rgb(40, 120, 240);
}

.cart-page {
  padding: 2rem 0px;
  flex-grow: 1;
  justify-content: start;
  background-color: #FAFAFA;
}

.error-page {
  flex-grow: 1;
}
.error-page .error-header {
  margin: 0px;
  font-size: 3.5rem;
  font-weight: 800;
}
.error-page .error-description {
  font-size: x-large;
  font-weight: 600;
  text-align: center;
  text-wrap: balance;
}
.error-page .error-home-button {
  background-color: rgb(47, 130, 251);
  font-size: large;
  color: white;
  padding: 12px 1.5rem;
  border-radius: 5px;
  margin-top: 1rem;
  transition: 0.3s;
}
.error-page .error-home-button:hover {
  background-color: rgb(40, 120, 240);
}

.my-products-table {
  width: 100%;
  min-width: 700px;
  text-align: center;
  border-collapse: collapse;
}
.my-products-table th {
  padding: 12px 0px;
}
.my-products-table th .my-products-table-head-button {
  cursor: pointer;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  border: 0px;
  padding: 0px;
  text-transform: capitalize;
}
.my-products-table tr {
  border-width: 0px 0px 1px;
  overflow: hidden;
}
.my-products-table tr:hover td {
  background-color: #F0F0F0;
}
.my-products-table td {
  font-size: medium;
  height: 75px;
  padding: 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
  position: relative;
  transition: 0.2s background-color;
}
.my-products-table .my-products-table-offer-cell {
  padding: 0px 80px;
  position: relative;
}
.my-products-table .my-products-table-offer-cell .my-products-table-offer-image {
  width: 75px;
  height: 75px;
  position: absolute;
  left: 4px;
  top: 4px;
}
.my-products-table .my-products-table-offer-show-actions-button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  display: flex;
  position: absolute;
  padding: 4px;
  right: 6px;
  border-radius: 5px;
  transition: 0.3s;
  top: 50%;
  transform: translateY(-50%);
}
.my-products-table .my-products-table-offer-show-actions-button:hover {
  background-color: #B0B0B0;
}

.my-products-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 0.5rem 0.75rem;
  background-color: white;
  gap: 4px;
  z-index: 20;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.1);
  translate: -100% -50%;
}
.my-products-actions::after {
  content: "";
  position: absolute;
  left: 100%;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #E0E0E0;
}
.my-products-actions .my-products-actions-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  color: white;
  font-weight: 500;
  width: 74px;
  height: 28px;
  border: 0px;
  border-radius: 5px;
  transition: 0.3s;
}
.my-products-actions .my-products-actions-delete-button {
  background-color: #FF4256;
}
.my-products-actions .my-products-actions-delete-button:hover {
  background-color: #F9394E;
}

.my-products-actions-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.my-products-actions-modal .my-products-actions-modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  width: 300px;
  box-sizing: border-box;
  padding: 1rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
  animation: scaling 0.5s normal 0s 1;
  gap: 0.5rem;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-input-label {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 500;
  margin: 0px;
  gap: 4px;
  width: 100%;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-input-label .my-products-actions-modal-input {
  border-radius: 5px;
  font-size: small;
  padding: 0.5rem 0.75rem;
  width: 100%;
  box-sizing: border-box;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-input-label .my-products-actions-modal-input:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-header {
  margin: 0px;
  width: 100%;
  text-align: left;
  font-size: large;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-text {
  margin: 0px;
  font-weight: 500;
  font-size: 14px;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-caution {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: 600;
  color: #FF3A4F;
  border-color: #FF3A4F;
  border-style: solid;
  border-width: 2px 2px 2px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 0.5rem 0px;
  position: relative;
  width: 100%;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-caution .my-products-actions-modal-caution-warning-icon {
  position: absolute;
  left: 4px;
  width: 24px;
  height: 24px;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container {
  display: flex;
  justify-content: right;
  width: 100%;
  gap: 4px;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-button {
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: small;
  width: 74px;
  height: 32px;
  border-radius: 5px;
  transition: 0.3s;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-delete-button {
  background-color: rgb(247, 71, 71);
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-delete-button:hover {
  background-color: rgb(239, 66, 66);
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-delete-button:disabled {
  cursor: auto;
  background-color: rgb(193, 193, 193);
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-cancel-button {
  color: black;
  background-color: white;
}
.my-products-actions-modal .my-products-actions-modal-form .my-products-actions-modal-buttons-container .my-products-actions-modal-cancel-button:hover {
  background-color: rgb(250, 250, 250);
}

.my-products-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2rem 0px;
  gap: 0.5rem;
  width: 100%;
  background-color: white;
}
.my-products-form .my-products-form-submit {
  font-size: medium;
  width: 90%;
  max-width: 350px;
  height: 44px;
  margin-top: 0.5rem;
}
.my-products-form .my-products-form-error-message {
  font-size: small;
  font-weight: 600;
  color: #FF5050;
  height: 1rem;
}
.my-products-form .my-products-form-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 4px 0px;
  border-radius: 5px;
}
.my-products-form .my-products-form-images-container .my-products-form-images-container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 2px;
}
.my-products-form .my-products-form-images-container .my-products-form-images-container-body .my-products-form-image {
  display: flex;
  position: relative;
}
.my-products-form .my-products-form-images-container .my-products-form-images-container-body .my-products-form-image .my-products-form-image-remove-button {
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0px;
  padding: 0px;
  background-color: #383838;
  border-radius: 25px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.my-products-form .my-products-form-image-error {
  border-color: #FF5050;
}
.my-products-form .my-products-form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  font-size: large;
  width: 90%;
  max-width: 350px;
}
.my-products-form .my-products-form-label .my-products-form-select {
  cursor: pointer;
  font-size: small;
  border-radius: 5px;
  padding: 12px 8px;
  font-weight: 500;
}
.my-products-form .my-products-form-label .my-products-form-select:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.my-products-form .my-products-form-label .my-products-form-input {
  border-radius: 5px;
  font-size: medium;
  width: 100%;
  padding: 12px 8px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 2px;
}
.my-products-form .my-products-form-label .my-products-form-input:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.my-products-form .my-products-form-label .my-products-form-input-error {
  border-color: #FF5050;
  color: #FF5050;
  background-color: rgba(255, 240, 240, 0.1);
}
.my-products-form .my-products-form-label .my-products-form-input-error:focus {
  border-color: #FF5050;
  outline: 2px solid #FF5050;
}
.my-products-form .my-products-form-image-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: medium;
  font-weight: 600;
  color: rgb(62, 84, 99);
  width: 90%;
  max-width: 350px;
  height: 125px;
  background-color: rgb(242, 245, 247);
  border: 2px solid rgb(122, 144, 158);
  border-style: dashed;
  box-sizing: border-box;
  border-radius: 5px;
}
.my-products-form .my-products-form-image-label .my-products-form-image-input {
  display: none;
}

.my-products-page {
  flex-grow: 1;
  position: relative;
  padding: 1rem 0px;
  box-sizing: border-box;
  background-color: #FAFAFA;
}
.my-products-page .my-products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  padding: 0px 5px;
  box-sizing: border-box;
}
.my-products-page .my-products-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.my-products-page .my-products-header .my-products-header-text {
  font-size: xx-large;
  margin: 0px;
}
.my-products-page .my-products-header .my-products-header-add-button {
  font-size: 14px;
  color: white;
  padding: 0.75rem 1rem;
}
.my-products-page .my-products-header .my-products-header-go-back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 4px;
  color: black;
  border-bottom: 2px solid transparent;
  transition: 0.2s;
}
.my-products-page .my-products-header .my-products-header-go-back-button:hover {
  border-color: black;
}
.my-products-page .my-products-body {
  width: 100%;
  height: 600px;
  border-radius: 5px;
  overflow: auto;
  background-color: white;
  position: relative;
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  width: clamp(275px, 80vw, 500px);
  padding: 2rem clamp(1rem, 5vw, 2rem);
  background-color: white;
}
.product-container .product-header {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  gap: 4px;
}
.product-container .product-header .product-header-name {
  word-wrap: break-word;
  margin: 0px;
  font-weight: 500;
  width: 100%;
}
.product-container .product-header .product-header-rating {
  display: flex;
  align-items: end;
  flex-wrap: wrap;
  width: 100%;
  gap: 4px;
}
.product-container .product-header .product-header-rating .product-header-stars {
  background-size: 20px 20px;
  background-repeat: repeat-x;
  width: 100px;
  height: 20px;
}
.product-container .product-header .product-header-rating .product-header-yellow-stars {
  background-image: url("/images/yellow_star.svg");
}
.product-container .product-header .product-header-rating .product-header-gray-stars {
  background-image: url("/images/gray_star.svg");
  padding: 0px;
  border: 0px;
  background-color: transparent;
}
.product-container .product-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-container .product-body .product-slideshow-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: clamp(275px, 80vw, 500px);
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.product-container .product-body .product-slideshow-container .product-slideshow-image-buttons-container {
  display: flex;
  transition: 1s;
  max-height: 100%;
}
.product-container .product-body .product-slideshow-container .product-slideshow-image-buttons-container .product-slideshow-image-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  min-width: clamp(275px, 80vw, 500px);
  padding: 0px;
  background-color: transparent;
  border: 0px;
}
.product-container .product-body .product-slideshow-container .product-slideshow-image-buttons-container .product-slideshow-image-button .product-slideshow-image {
  max-width: 100%;
  max-height: 100%;
}
.product-container .product-body .product-slideshow-container .product-slideshow-change-button {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  background-color: #101010;
  border: 0px;
  border-radius: 25px;
  transition: 0.3s;
  z-index: 10;
}
.product-container .product-body .product-slideshow-container .product-slideshow-change-button:hover {
  background-color: #2a2a2a;
}
.product-container .product-body .product-slideshow-all-images-container {
  display: flex;
  align-items: center;
  overflow: auto;
  max-width: 100%;
  gap: 4px;
}
.product-container .product-body .product-slideshow-all-images-container .product-slideshow-all-images-container-button {
  cursor: pointer;
  display: flex;
  padding: 0px;
  background-color: transparent;
  border: 0px;
  transition: 0.2s;
}
.product-container .product-body .product-slideshow-all-images-container .product-slideshow-all-images-container-button:hover {
  filter: brightness(0.9);
}

.product-description-container {
  background-color: white;
  border-radius: 5px;
  margin-top: 1.5rem;
  padding: 2rem clamp(1rem, 5vw, 2rem);
  width: clamp(275px, 80vw, 500px);
  word-break: break-all;
}
.product-description-container .product-description-header {
  font-size: large;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 0.5rem;
}

.product-aside-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2rem clamp(1rem, 5vw, 2rem);
  background-color: white;
  gap: 0.75rem;
}
.product-aside-container .product-aside-buy-button {
  font-size: large;
  font-weight: 500;
  width: clamp(275px, 80vw, 350px);
  padding: 0.75rem 0px;
}
.product-aside-container .product-aside-user-other-products-container {
  margin-top: 0.5rem;
  text-align: center;
  color: #2878F0;
  width: 100%;
  border-width: 1px 0px 0px 0px;
  padding-top: 1rem;
}
.product-aside-container .product-aside-quantity-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}
.product-aside-container .product-aside-quantity-container .product-aside-quantity-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background-color: white;
  border: 1px solid;
  height: 40px;
  width: 40px;
  transition: 0.2s;
}
.product-aside-container .product-aside-quantity-container .product-aside-quantity-button:hover {
  background-color: #F0F0F0;
}
.product-aside-container .product-aside-quantity-container .product-aside-quantity-input {
  text-align: center;
  font-weight: 600;
  height: 40px;
  width: 90px;
  box-sizing: border-box;
  border: 1px solid black;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
  outline: 0px;
}
.product-aside-container .product-aside-quantity-container .product-aside-quantity-input::-webkit-inner-spin-button, .product-aside-container .product-aside-quantity-container .product-aside-quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.product-aside-container .product-aside-quantity-container .product-aside-quantity-information {
  font-size: small;
  margin-left: 0.5rem;
}
.product-aside-container .product-aside-information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}
.product-aside-container .product-aside-information-container .product-aside-information-cost {
  font-size: x-large;
  font-weight: 600;
  color: #3a3a3a;
}

.product-page {
  display: flex;
  flex-grow: 1;
  align-items: start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 2rem 4px;
  background-color: #FAFAFA;
}

.search-results-container {
  padding: 0px;
  margin: 0px;
  list-style: none;
  background-color: white;
  width: 100%;
}
.search-results-container .search-result {
  display: flex;
  border-width: 0px 1px 1px;
  transition: 0.2s;
}
.search-results-container .search-result:hover {
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1);
}
.search-results-container .search-result:first-child {
  border-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.search-results-container .search-result:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-results-container .search-result .search-result-product {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  color: black;
}
.search-results-container .search-result .search-result-product .search-result-product-price {
  font-weight: 600;
}
.search-results-container .search-result .search-result-product .search-result-product-name {
  display: flex;
  flex-grow: 1;
  height: 100%;
  font-weight: 600;
  word-break: break-all;
}

.search-results-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.search-results-not-found .search-results-not-found-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  background-color: rgb(236, 244, 252);
  border-radius: 5px;
  padding: 1.5rem 1rem;
  border-top: 3px solid rgb(67, 140, 251);
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
}
.search-results-not-found .search-results-not-found-container .search-results-not-found-header {
  font-weight: 600;
  font-size: x-large;
  margin: 0px;
}
.search-results-not-found .search-results-not-found-container .search-results-not-found-tip {
  font-weight: 600;
}
.search-results-not-found .search-results-not-found-container .search-results-not-found-suggestions {
  margin: 0px;
}

.search-pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
}
.search-pagination-container .search-pagination-products-count {
  font-size: small;
  color: #B0B0B0;
}
.search-pagination-container .search-pagination-current-page {
  margin: 0px 6px;
}
.search-pagination-container .search-pagination-button {
  cursor: pointer;
  color: rgb(15, 15, 255);
  background-color: transparent;
  padding: 4px;
  border: 0px;
  border-radius: 5px;
  transition: 0.3s;
}
.search-pagination-container .search-pagination-button:hover {
  background-color: #E0E0E0;
}

.search-page {
  flex-grow: 1;
  background-color: #FAFAFA;
  justify-content: start;
  padding: 2rem 0px;
}
.search-page .search-head {
  width: 100%;
  box-sizing: content-box;
  padding: 1rem 0px;
  border-width: 0px 0px 1px;
  margin-bottom: 2rem;
}
.search-page .search-head .search-header {
  margin: 0px;
  font-size: xx-large;
}
.search-page .search-head .search-offer-count {
  font-size: medium;
  color: #B0B0B0;
}
.search-page .search-body {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  width: clamp(300px, 80vw, 650px);
  gap: 1rem;
}
.search-page .search-body .search-sorting-text {
  font-weight: 600;
  margin-right: 1rem;
}
.search-page .search-body .search-sorting-selection {
  cursor: pointer;
  padding: 4px;
  border-radius: 5px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px 0.5rem 0px 0px;
  box-sizing: border-box;
  height: 550px;
  overflow: auto;
}
.reviews-list .reviews-list-item {
  padding: 1rem 0px;
  border-width: 0px 0px 1px;
}
.reviews-list .reviews-list-item .reviews-list-item-header {
  display: flex;
  font-size: small;
  color: #B0B0B0;
}
.reviews-list .reviews-list-item .reviews-list-item-header .reviews-list-item-header-date {
  text-wrap: nowrap;
}
.reviews-list .reviews-list-item .reviews-list-item-header .reviews-list-item-header-username {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews-list .reviews-list-item .reviews-list-item-header .reviews-list-item-header-username::before {
  content: "|";
  margin: 0px 4px;
}
.reviews-list .reviews-list-item .reviews-list-item-body {
  word-wrap: break-word;
}

.reviews-product-header {
  margin: 0px 0px 4px;
}

.reviews-product-name {
  word-break: break-all;
  font-weight: 600;
}

.reviews-form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.reviews-form .reviews-form-input {
  resize: none;
  font-size: medium;
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}
.reviews-form .reviews-form-input:focus {
  border-color: rgb(105, 165, 255);
  outline: 2px solid rgb(105, 165, 255);
}
.reviews-form .reviews-form-input-error {
  border-color: #FF5050;
  color: #FF5050;
  background-color: rgba(255, 240, 240, 0.1);
}
.reviews-form .reviews-form-input-error:focus {
  border-color: #FF5050;
  outline: 2px solid #FF5050;
}
.reviews-form .reviews-form-submit {
  padding: 0 1rem;
}

.reviews-page {
  display: flex;
  flex-grow: 1;
  background-color: #FAFAFA;
}
.reviews-page .reviews-container {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  box-sizing: border-box;
  width: clamp(310px, 80vw, 700px);
}

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
}
a:visited, a:hover, a:active {
  color: #0000EE;
}

textarea {
  font-family: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 25px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgb(160, 160, 160);
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: rgb(145, 145, 145);
}

.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 0.8s linear infinite;
}

/*# sourceMappingURL=main.css.map */
