@import 'helpers';
@import 'animations';
@import 'navigation';
@import 'footer';
@import 'home';
@import 'alert';
@import 'auth_form';
@import 'cart';
@import 'error';
@import 'my_products';
@import 'product';
@import 'search';
@import 'reviews';

* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;

    &:visited, &:hover, &:active {
        color: #0000EE;
    }
}

textarea {
    font-family: inherit;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(175, 175, 175);
    border-radius: 25px;

    &:hover {
        background-color: rgb(160, 160, 160);
    }

    &:active {
        background-color: rgb(145, 145, 145);
    }
}

.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 4px 2px rgb(0, 0, 0, 0.35);
    border-radius: 25px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid rgb(0, 0, 0, 0.2);
    border-bottom-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 0.8s linear infinite;
}
