@import 'color_scheme';
@import 'navigation';
@import 'footer';
@import 'home';
@import 'alert';
@import 'auth_form';
@import 'cart';
@import 'error';
@import 'my_offers';

:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;

    &:visited, &:hover, &:active {
        color: #0000EE;
    }
}
