.product-aside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 2rem clamp(1rem, 5vw, 2rem);
    background-color: white;
    gap: 0.75rem;

    .product-aside-buy-button {
        font-size: large;
        font-weight: 500;
        width: clamp(275px, 80vw, 350px);
        padding: 0.75rem 0px;
    }

    .product-aside-quantity-container {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 100%;

        .product-aside-quantity-button {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x-large;
            background-color: white;
            border: 1px solid;
            height: 40px;
            width: 40px;
            transition: 0.2s;

            &:hover {
                background-color: #F0F0F0;
            }
        }

        .product-aside-quantity-input {
            text-align: center;
            font-weight: 600;
            height: 40px;
            width: 90px;
            box-sizing: border-box;
            border: 1px solid black;
            border-left: 0px;
            border-right: 0px;
            padding: 0px;
            outline: 0px;

            &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                -webkit-appearance: none;
            }
        }

        .product-aside-quantity-information {
            font-size: small;
            margin-left: 0.5rem;
        }
    }

    .product-aside-information-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4px;

        .product-aside-information-cost {
            font-size: x-large;
            font-weight: 600;
            color: #3a3a3a;
        }
    }
}
