@import 'container';
@import 'aside';

.product-page {
    display: flex;
    flex-grow: 1;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem 4px;
    background-color: #FAFAFA;
}
