@import 'searchbar';
@import 'account';

.navigation {
    $gap: 0.5rem;
    padding: 8px 0px;
    border-width: 0px 0px 1px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: center;
    gap: $gap;

    .navigation-buttons-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $gap;

        .navigation-currency-changer {
            cursor: pointer;
            border-radius: 5px;
            padding: 4px;
        }

        .navigation-icon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            min-width: 40px;
            height: 40px;
            transition: 0.3s;
            background-color: #EAEAEA;

            &:hover {
                background-color: #E0E0E0;
            }

            .navigation-icon {
                width: 20px;
                height: 20px;
            }
        }
    }    
}

@media only screen and (max-width: 710px) {
    .navigation {
        justify-content: space-between;
        padding: 8px 0.75rem;
    }
}
