@import 'header';
@import 'searchbar';

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px 0px;
    box-sizing: border-box;
    width: 100%;
    gap: 4px;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid $light-gray-color;
    z-index: 50;
}

@media only screen and (min-width: 768px) {
    nav {
        padding: 8px 0px;
    }
}
