.auth-form-page {
    background-color: #FAFAFA;
    flex-grow: 1;

    .auth-form-container {
        border: 1px solid $light-gray-color;
        border-radius: 5px;
        width: 95%;
        max-width: 500px;
        padding: 2.5rem 0px;
        background-color: white;

        .auth-form-header {
            margin: 0px;
            text-align: center;
            margin-bottom: 2rem;
        }

        .auth-form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 4px;

            .auth-form-label {
                $red-color: #FF5050;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                font-weight: 600;
                width: 90%;
                max-width: 350px;

                .auth-form-input {
                    $blue-color: rgb(105, 165, 255);
                    border-radius: 5px;
                    font-size: medium;
                    width: 200px;
                    border: 1px solid $light-gray-color;
                    width: 100%;
                    padding: 12px 8px;
                    box-sizing: border-box;
                    margin-top: 8px;
    
                    &:focus {
                        border-color: $blue-color;
                        outline: 2px solid $blue-color;
                    }
                }

                .auth-form-input-error {
                    border-color: $red-color;
                    color: $red-color;
                    background-color: rgb(255, 240, 240, 0.1);
    
                    &:focus {
                        border-color: $red-color;
                        outline: 2px solid $red-color;
                    }
                }

                .auth-form-error-message {
                    color: $red-color;
                    font-size: small;
                    height: 20px;
                    margin-top: 4px;
                }

                .auth-form-input-show-button {
                    cursor: pointer;
                    display: flex;
                    position: absolute;
                    padding: 0px;
                    right: 5px;
                    bottom: 31px;
                    border: 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    background-color: transparent;
                    transition: 0.3s;
    
                    &:hover {
                        background-color: #EAEAEA;
                    }
                }
            }

            .auth-form-submit {
                cursor: pointer;
                color: white;
                background-color: rgb(47, 130, 251);
                border: 0px;
                border-radius: 5px;
                font-size: medium;
                font-weight: 600;
                width: 90%;
                max-width: 350px;
                height: 40px;
                margin-top: 1rem;
                transition: 0.3s;

                &:hover {
                    background-color: rgb(40, 120, 240);
                }
            }

            .auth-form-checkbox-label {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;

                .auth-form-checkbox {
                    border-radius: 5px;
                    width: 20px;
                    height: 20px;
                    accent-color: rgb(47, 130, 251);
                }
            }
        }
    }
}
