.my-products-page {
    flex-grow: 1;

    .my-products-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 750px;
        padding: 0px 5px;
        box-sizing: border-box;

        .my-products-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
    
            .my-products-header-text {
                font-size: xx-large;
                margin: 0px;
            }
        
            .my-products-header-add-button {
                cursor: pointer;
                background-color: rgb(47, 130, 251);
                font-size: medium;
                font-weight: 600;
                color: white;
                padding: 0.75rem 1rem;
                border-radius: 5px;
                border: 0px;
                transition: 0.3s;
    
                &:hover {
                    background-color: rgb(40, 120, 240);
                }
            }
        }
    
        .my-products-body {
            width: 100%;
            height: 600px;
            border: 1px solid $light-gray-color;
            border-radius: 5px;
            overflow: auto;
    
            .my-products-body-table {
                width: 100%;
                text-align: center;
                border-collapse: collapse;

                & th {
                    padding: 12px 0px;

                    .my-products-body-table-head-button {
                        cursor: pointer;
                        background-color: transparent;
                        font-size: large;
                        font-weight: 600;
                        border: 0px;
                        padding: 0px;
                    }
                }

                & tr {
                    border-bottom: 1px solid $light-gray-color;
                    overflow: hidden;
                }

                & td {
                    font-size: medium;
                    height: 75px;
                    padding: 4px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    max-width: 1px;
                    position: relative;
                }

                .my-products-body-table-offer-image {
                    position: absolute;
                    width: 75px;
                    height: 75px;
                    top: 4px;
                    left: 4px;
                }
            }
        }
    }
}
