.footer-newsletter {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    padding: 10px 0px;
    box-sizing: border-box;

    .footer-newsletter-header {
        font-size: medium;
        font-weight: 600;
        margin: 0px;
        margin-bottom: 10px;
        text-align: center;
        text-wrap: balance;
    }

    .footer-newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        width: 100%;

        .footer-newsletter-form-input {
            border-radius: 5px;
            font-size: medium;
            box-sizing: border-box;
            height: 40px;
            width: 60%;
            max-width: 230px;

            &::placeholder {
                color: #B0B0B0;
            }

            &:focus {
                border-color: rgb(105, 165, 255);
                outline: 2px solid rgb(105, 165, 255);
            }
        }

        .footer-newsletter-form-input-error {
            $red-color: #FF5050;
            border-color: $red-color;
            color: $red-color;

            &:focus {
                border-color: $red-color;
                outline: 2px solid $red-color;
            }
        }

        .footer-newsletter-form-submit {
            font-size: medium;
            width: 100px;
            height: 40px;
        }
    }
}
