.success-alert {
    background-color: rgb(65, 216, 136);
}

.error-alert {
    background-color: rgb(250, 75, 75);
}

.alert {
    position: fixed;
    display: flex;
    gap: 8px;
    z-index: 999;
    bottom: 0px;
    right: 0px;
    border-radius: 5px;
    padding: 1.5rem 1rem 3rem;
    overflow: hidden;

    .alert-info {
        width: clamp(240px, 70vw, 350px);

        .alert-info-header {
            margin: 0px;
            color: white;
        }

        .alert-info-body {
            margin: 0px;
            color: white;
            text-wrap: wrap;
        }
    }

    .alert-close-button {
        cursor: pointer;
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        padding: 0px;
        background-color: transparent;
        border: 0px;
        border-radius: 5px;
        transition: 0.3s;

        &:hover {
            background-color: rgb(80, 80, 80, 0.2);
        }
    }

    .alert-disappearance-timer {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background-color: rgb(255, 255, 255, 0.4);
        height: 12px;
        width: 100%;
        animation: shortening 5s ease-out forwards 0s 1;
    }
}
