.my-products-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 2rem 0px;
    gap: 0.5rem;
    width: 100%;
    background-color: white;

    .my-products-form-submit {
        font-size: medium;
        width: 90%;
        max-width: 350px;
        height: 44px;
        margin-top: 0.5rem;
    }

    .my-products-form-error-message {
        font-size: small;
        font-weight: 600;
        color: $primary-input-error-color;
        height: 1rem;
    }

    .my-products-form-images-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        width: 90%;
        box-sizing: border-box;
        border: 1px solid transparent;
        padding: 4px 0px;
        border-radius: 5px;

        .my-products-form-images-container-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 4px;
            margin-bottom: 2px;

            .my-products-form-image {
                display: flex;
                position: relative;

                .my-products-form-image-remove-button {
                    cursor: pointer;
                    display: flex;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    border: 0px;
                    padding: 0px;
                    background-color: #383838;
                    border-radius: 25px;
                    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.15);
                }
            }
        }
    }

    .my-products-form-image-error {
        border-color: $primary-input-error-color;
    }

    .my-products-form-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 600;
        font-size: large;
        width: 90%;
        max-width: 350px;

        .my-products-form-select {
            cursor: pointer;
            font-size: small;
            border-radius: 5px;
            padding: 12px 8px;
            font-weight: 500;

            &:focus {
                border-color: $primary-input-color;
                outline: 2px solid $primary-input-color;
            }
        }

        .my-products-form-input {
            border-radius: 5px;
            font-size: medium;
            width: 100%;
            padding: 12px 8px;
            box-sizing: border-box;
            margin-top: 8px;
            margin-bottom: 2px;

            &:focus {
                border-color: $primary-input-color;
                outline: 2px solid $primary-input-color;
            }
        }

        .my-products-form-input-error {
            border-color: $primary-input-error-color;
            color: $primary-input-error-color;
            background-color: rgb(255, 240, 240, 0.1);

            &:focus {
                border-color: $primary-input-error-color;
                outline: 2px solid $primary-input-error-color;
            }
        }
    }

    .my-products-form-image-label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: medium;
        font-weight: 600;
        color: rgb(62, 84, 99);
        width: 90%;
        max-width: 350px;
        height: 125px;
        background-color: rgb(242, 245, 247);
        border: 2px solid rgb(122, 144, 158);
        border-style: dashed;
        box-sizing: border-box;
        border-radius: 5px;

        .my-products-form-image-input {
            display: none;
        }
    }
}
