@import 'body';
@import 'add_product';
@import 'edit_product';

.my-products-page {
    flex-grow: 1;
    position: relative;
    padding: 1rem 0px;
    box-sizing: border-box;
    background-color: #FAFAFA;

    .my-products-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 750px;
        padding: 0px 5px;
        box-sizing: border-box;
    }

    .my-products-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        .my-products-header-text {
            font-size: xx-large;
            margin: 0px;
        }

        .my-products-header-add-button {
            font-size: medium;
            color: white;
            padding: 0.75rem 1rem;
        }

        .my-products-header-go-back-button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;
            gap: 4px;
            color: black;
            border-bottom: 2px solid transparent;
            transition: 0.2s;

            &:hover {
                border-color: black;
            }
        }
    }
}
